Introduccion .NET y C#/MVCCRUDAlumnos,/Negocio/Connected Services/ServicioWCF/AlumnoWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AlumnoWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57001/AlumnoWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57001/AlumnoWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57001/AlumnoWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFAlumno" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlumnoWCF_CalcularIMSS_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcularIMSS" />
  </wsdl:message>
  <wsdl:message name="IAlumnoWCF_CalcularIMSS_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcularIMSSResponse" />
  </wsdl:message>
  <wsdl:message name="IAlumnoWCF_CalcularISR_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcularISR" />
  </wsdl:message>
  <wsdl:message name="IAlumnoWCF_CalcularISR_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcularISRResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlumnoWCF">
    <wsdl:operation name="CalcularIMSS">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlumnoWCF/CalcularIMSS" message="tns:IAlumnoWCF_CalcularIMSS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlumnoWCF/CalcularIMSSResponse" message="tns:IAlumnoWCF_CalcularIMSS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcularISR">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlumnoWCF/CalcularISR" message="tns:IAlumnoWCF_CalcularISR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlumnoWCF/CalcularISRResponse" message="tns:IAlumnoWCF_CalcularISR_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAlumnoWCF" type="tns:IAlumnoWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalcularIMSS">
      <soap:operation soapAction="http://tempuri.org/IAlumnoWCF/CalcularIMSS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularISR">
      <soap:operation soapAction="http://tempuri.org/IAlumnoWCF/CalcularISR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlumnoWCF">
    <wsdl:port name="BasicHttpBinding_IAlumnoWCF" binding="tns:BasicHttpBinding_IAlumnoWCF">
      <soap:address location="http://localhost:57001/AlumnoWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>